[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-fsm-2 = "*"
djangorestframework = "*"
drf-nested-routers = "*"
factory-boy = "*"
freezegun = "*"
phonenumbers = "*"
pillow = "*"
psycopg = "*"
pycountry = "*"
python-decouple = "*"
pytz = "*"
pyyaml = "*"
django-storages = "*"
boto3 = "*"
gunicorn = "*"
django-cors-headers = "*"
mock = "*"

[dev-packages]
coverage = "*"
ruff = "*"

[requires]
python_version = "3.12"
